/target
.classpath
.mymetadata
.project
/.myeclipse
/.settings
/src/main/webapp/WEB-INF/classes/
lib/
.DS_Store
.idea/
classes/
src/.DS_Store
src/main/.DS_Store
src/main/webapp/.DS_Store
src/main/webapp/WEB-INF/.DS_Store
src/main/webapp/WEB-INF/tld/.DS_Store
src/main/webapp/WEB-INF/logs
.ignore
*.lock
bin/
*.iml